@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rendezvous</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> building our Restaurant web app using ASP.NET Core</a>.</p>
</div>
