@model AppDevProjectGroup27.Models.Table
@{
    ViewData["Title"] = "Delete Table |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 class="text-info">Delete Table</h2>
<br />

<form method="post">
    <div class="backgroundWhiteBorder row">
        <input type="hidden" asp-for="Id" />
        <div class="col-8">
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SeatingName" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SeatingName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MaxTables" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MaxTables" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Active" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" asp-for="Active" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">

                </div>
            </fieldset>
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>
    </div>
</form>