@model AppDevProjectGroup27.Models.ViewModels.TableEditVM
@{
    ViewData["Title"] = "Edit Table |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h2 class="text-info">Edit Table</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form method="post" asp-action="Edit">
    <input type="hidden" value="@Model.OldMaxValue" asp-for="OldMaxValue" />
    <input type="hidden" value="@Model.Table.Id" asp-for="Table.Id" />
    @*<input type="hidden" value="@Model.Table.TableAva" asp-for="Table.TableAva" />*@
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Table.SeatingName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Table.SeatingName" class="form-control" type="number" min="1" max="@int.MaxValue" step="1" onkeydown="return ValidNumeric(event);" />
            </div>
            <span asp-validation-for="Table.SeatingName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Table.MaxTables" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Table.MaxTables" class="form-control" />
            </div>
            <span asp-validation-for="Table.MaxTables" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Table.Active" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Table.Active" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-3">
                <partial name="_EditAndBackToListButton" model="Model.Table.Id" />
            </div>
        </div>
    </div>
</form>


@section Scripts{

    <script>
        function ValidNumeric(event) {
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode >= 48 && charCode <= 57 || charCode == 8) { return true; }
            else { return false; }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");};
}
