<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE]><html xmlns="http://www.w3.org/1999/xhtml" class="ie"><![endif]--><!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body class="main no-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
    
    <div>
        {0}  <!--Message-->
    </div>
    <br />
    <div>
        {1} <!--Order ID-->
    </div>
    <br />
    <div>
        {2} <!--Order Details-->
    </div>
    <br />
    <br />
    <div>
        Have a lovely day.
        <br />
        The Rendezvous-Restaurant Team.
    </div>
</body>
</html>
