<!DOCTYPE html>

<html lang="en">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="CSScode.css" rel="stylesheet" />
</head>

<body>

	<h1>
		Hello Mate! You've got a deal!
	</h1>
	<p>
		Skip the cooking and save up at Rendezvous on our deals instead.
		Click "Go to Store" below to claim your meal on us:
	</p>
	<table>
		<tr>
			<th class="text">
				Item Name
			</th>
			<th>
				Price
			</th>
			<th>
				Link below
			</th>
		</tr>


